    .profile-card {
            background: white;
            padding: 1rem;
            margin: 1rem 0;
            border-radius: 8px;
            box-shadow: 0 4px 10px rgba(0,0,0,0.1);
        }
        .banner-image {
            animation: autoRotateAnimation;
            animation-timeline: view();

        }

        @keyframes autoRotateAnimation {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }